body {
  font-family: sans-serif;
}

button {
  border-radius: 10px;
  border: none;
  padding: 4px 15px;
  margin-left: 5px;
}

button:hover {
  background-color:darkgrey;
  color: gray;
  cursor: pointer;
}

.incomplete-area {
  background-color: green;
  width: 400px;
  min-height: 250px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: magenta;
  width: 400px;
  min-height: 250px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.list-row {
  display: flex;
  align-items: center;
}


